RewriteEngine on
RewriteCond $1 !^(index\.php|assets|images|js|css|uploads|favicon.png)
RewriteBase /uph/

#AuthType Basic
#AuthName "Restricted Content"
#AuthUserFile .htpasswd
#Require valid-user

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME)	!-d
RewriteRule ^(.*)$ index.php/$1 [L]